{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block fos_user_content %}

    <div class="profile-container">

        <h1>Mes informations</h1>

            <div class="fos_user_user_show">

                        <img class="profile" src="{{ asset('uploads/pictures/'~ user.picture.namePicture) }}">
                    </div>

        <div class="profile-picture">

            <nav class="menu">
                <ul class="nav">
                    <li><span class="fa fa-user"></span> Mon Profil</li>
                </ul>
            </nav>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{ 'Prénom' }}</td>
                                <td>{{ user.nameuser }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Nom' }}</td>
                                <td>{{ user.surnameuser }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'profile.show.username'|trans }}</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'profile.show.email'|trans }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Date de naissance' }}</td>
                                <td>{{ user.dateOfBirth |date('d-m-Y')}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="profile-edit">
                        <a href="{{ path('fos_user_profile_edit') }}"> Mettre à jour mes informations </a>
                    </div>

            </div>
    </div>

{% endblock fos_user_content %}