{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block fos_user_content %}
    <div class="container profile-page">
        <header>

        </header>
        <main>
            <div class="row">
                <div class="left col-lg-3">
                    <div class="photo-left">
                        <img class="photo" src="{{ asset('uploads/pictures/'~ user.picture.namePicture) }}">
                    </div>
                    <h4 class="name"> Salut {{ user.username }}</h4>
                    <p class="info">({{ user.nameuser }} {{ user.surnameuser }})</p>
                    <p class="info">{{ user.email }}</p>
                    <p class="info">{{ user.dateOfBirth |date('d-m-Y') }}</p>
                    <div class="social">
                        <p class="info">Invite tes ami.e.s !</p>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </div>
                    <a href="{{ path('fos_user_profile_edit', {'id': user.id}) }}">Modifier mes informations</a>
                    <a href="{{ path('fos_user_security_logout', {'id': user.id}) }}">Me déconnecter</a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('Es-tu certain de vouloir supprimer ton compte ?')">Supprimer mon compte</a>
                </div>

                <div class="right col-lg-9">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#eventcreate" role="tab"
                               aria-controls="home" aria-selected="true">Les événements créés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#participation" role="tab"
                               aria-controls="profile" aria-selected="false">Participations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pastevent" role="tab"
                               aria-controls="contact" aria-selected="false">Événements passés</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <!-- Created events -->
                        <div class="tab-pane fade show active" id="eventcreate" role="tabpanel" aria-labelledby="eventcreate-tab">
                            <section class="bg-light" id="portfolio">
                                <div class="container">
                                    <div class="row">
                                        {% for reservation in user.reservations %}
                                            {% if reservation.isCreator == true %}
                                                <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1{{ reservation.event.id }}">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content">
                                                                <i class="fa fa-plus fa-3x"></i>
                                                            </div>
                                                        </div>
                                                        <img class="img-fluid" src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}"
                                                             alt="{{ reservation.event.title }}">
                                                    </a>
                                                    <div class="portfolio-caption">
                                                        <h4>{{ reservation.event.title }}</h4>
                                                        <p class="text-muted"> Où ? {{ reservation.event.city }} </p>
                                                        <p class="text-muted"> A récolter : {{ reservation.event.targetMoney ~ ' €' }} </p>
                                                        {#<p class="text-muted"> Participants : {{ user.reservation.doParticipate}} </p>#}
                                                    </div>
                                                    <a class="btn btn-primary" href="{{ path('event_edit', {'id': reservation.event.id}) }}">Modifier</a>
                                                    <a class="btn btn-primary" href="{{ path('event_delete', {'id': reservation.event.id}) }}">Supprimer</a>
                                                    <a class="btn btn-primary" href="{{ path('event_invite', {'id': reservation.event.id}) }}">Inviter</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- Modal created events -->
                        {% for reservation in user.reservations %}
                            <div class="portfolio-modal modal fade" id="portfolioModal1{{ reservation.event.id }}" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="close-modal" data-dismiss="modal">
                                            <div class="lr">
                                                <div class="rl"></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-8 mx-auto">
                                                    <div class="modal-body">
                                                        <h2 class="text-uppercase">{{ reservation.event.title }}</h2>
                                                        <p><i class="fa fa-clock-o"></i> Le {{ reservation.event.start|date('d/m/Y à h:i') }}</p>
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Adresse : {{ reservation.event.adress }}, {{ reservation.event.zipcode }} {{ reservation.event.city }}</p>
                                                        <img src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}" alt="eventimg">
                                                        <p class="modale-description info">{{ reservation.event.eventDescription }}</p>
                                                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Somme nécessaire pour que l'événement ait lieu : {{ reservation.event.targetMoney ~ '€' }} avant le {{ reservation.event.deadline|date ("d/m/Y")}}</p>
                                                        <p>{{ reservation.event.onGoingMoney ~ ' €' }} actuellement récoltés</p>
                                                        <p><i class="fa fa-user-circle"></i> Capacité maximum : {{ reservation.event.maxPeople }} personnes</p>
                                                        <p><i class="fa fa-user-circle"></i> Nombre de participants : {{ reservation.event.NbPeopleParticipate }} personnes</p>
                                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                                            <i class="fa fa-times"></i>
                                                            Fermer
                                                        </button>
                                                        <a href="{{ path('event_edit', {'id': reservation.event.id}) }}"
                                                           class="btn btn-primary">Modifier</a>
                                                        <a class="btn btn-danger" href="{{ path('event_delete', {'id': reservation.event.id}) }}">Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Participating events -->
                        <div class="tab-pane fade show" id="participation" role="tabpanel" aria-labelledby="participation-tab">
                            <section class="bg-light" id="portfolio">
                                <div class="container">
                                    <div class="row">
                                        {% for reservation in user.reservations %}
                                            {% if reservation.doParticipate == true %}
                                                <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2{{ reservation.event.id }}">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content">
                                                                <i class="fa fa-plus fa-3x"></i>
                                                            </div>
                                                        </div>
                                                        <img class="img-fluid" src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}"
                                                             alt="{{ reservation.event.title }}">
                                                    </a>
                                                    <div class="portfolio-caption">
                                                        <h4>{{ reservation.event.title }}</h4>
                                                        {#<p class="text-muted">Organisateur : {{ reservation.user.isCreator }} </p>#}
                                                        <p class="text-muted">{{ reservation.event.city }} </p>
                                                        {#<p class="text-muted">Ma participation : {{ reservation.event.targetMoney ~ ' €'  }} </p>#}
                                                    </div>
                                                    <a class="btn btn-danger" href="{#{{ path('reservation_delete', {'id': reservation.event.id}) }}#}">Se désinscrire</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    </div>
                                </section>
                            </div>
                        <!-- Modal participating events -->
                        {% for reservation in user.reservations %}
                            <div class="portfolio-modal modal fade" id="portfolioModal2{{ reservation.event.id }}" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="close-modal" data-dismiss="modal">
                                            <div class="lr">
                                                <div class="rl"></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-8 mx-auto">
                                                    <div class="modal-body">
                                                        <h2 class="text-uppercase">{{ reservation.event.title }}</h2>
                                                        <p><i class="fa fa-clock-o"></i> Le {{ reservation.event.start|date('d/m/Y à h:i') }}</p>
                                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Adresse : {{ reservation.event.adress }}, {{ reservation.event.zipcode }} {{ reservation.event.city }}</p>
                                                        <img src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}" alt="eventimg">
                                                        <p class="modale-description info">{{ reservation.event.eventDescription }}</p>
                                                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Somme nécessaire pour que l'événement ait lieu : {{ reservation.event.targetMoney ~ '€' }} avant le {{ reservation.event.deadline|date ("d/m/Y")}}</p>
                                                        <p>{{ reservation.event.onGoingMoney ~ ' €' }} actuellement récoltés</p>
                                                        <p><i class="fa fa-user-circle"></i> Capacité maximum : {{ reservation.event.maxPeople }} personnes</p>

                                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                                            <i class="fa fa-times"></i>
                                                            Fermer
                                                        </button>
                                                        <a class="btn btn-danger" {#href="{{ path('reservation_delete', {'id': reservation.event.id}) }}"#}>Annuler ma participation</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Past events -->
                    <div class="tab-pane fade" id="pastevent" role="tabpanel" aria-labelledby="pastevent-tab">
                        <section class="bg-light" id="portfolio">
                            <div class="container">
                                <div class="row">
                                    {% for reservation in user.reservations %}
                                        {% if reservation.doParticipate == true and reservation.event.start|date('m/d/y') < 'now'|date('m/d/y') %}
                                            <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3{{ reservation.event.id }}">
                                                    <div class="portfolio-hover">
                                                        <div class="portfolio-hover-content">
                                                            <i class="fa fa-plus fa-3x"></i>
                                                        </div>
                                                    </div>
                                                    <img class="img-fluid" src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}"
                                                         alt="{{ reservation.event.title }}">
                                                </a>
                                                <div class="portfolio-caption">
                                                    <h4>{{ reservation.event.title }}</h4>
                                                    {#<p class="text-muted">Organisateur : {{ reservation.user.isCreator }} </p>#}
                                                    <p class="text-muted">{{ reservation.event.city }} </p>
                                                    {#<p class="text-muted">Ma participation : {{ reservation.event.targetMoney ~ ' €'  }}</p>#}

                                                    <a href="{{ path('review_new', {'id': reservation.event.id}) }}"
                                                       class="btn btn-primary">Ajouter un commentaire</a>
                                                </div>

                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                        <!-- Modal past events -->
                    {% for reservation in user.reservations %}
                        <div class="portfolio-modal modal fade" id="portfolioModal3{{ reservation.event.id }}" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="close-modal" data-dismiss="modal">
                                        <div class="lr">
                                            <div class="rl"></div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 mx-auto">
                                                <div class="modal-body">
                                                    <h2 class="text-uppercase">{{ reservation.event.title }}</h2>
                                                    <p><i class="fa fa-clock-o"></i> Le {{ reservation.event.start|date('d/m/Y à h:i') }}</p>
                                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Adresse : {{ reservation.event.adress }}, {{ reservation.event.zipcode }} {{ reservation.event.city }}</p>
                                                    <img src="{{ asset('uploads/pictures/'~ reservation.event.picture.namePicture) }}" alt="eventimg">
                                                    <p class="modale-description info">{{ reservation.event.eventDescription }}</p>
                                                    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Somme nécessaire pour que l'événement ait lieu : {{ reservation.event.targetMoney ~ '€' }} avant le {{ reservation.event.deadline|date ("d/m/Y")}}</p>
                                                    <p>{{ reservation.event.onGoingMoney ~ ' €' }} actuellement récoltés</p>
                                                    <p><i class="fa fa-user-circle"></i> Capacité maximum : {{ reservation.event.maxPeople }} personnes</p>
                                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i>Fermer</button>
                                                    <a href="{{ path('review_new', {'id': reservation.event.id}) }}"
                                                       class="btn btn-success">Ajouter un commentaire</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock fos_user_content %}