<div class="portfolio-modal modal fade" id="portfolioModal1{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">{{ event.title }}</h2>
                            <p> Organisateur : {{ event.reservations[0].user.username }}</p>
                            <p><i class="fa fa-clock-o"></i> Le {{ event.start|date('d/m/Y à h:i') }}</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Adresse : {{ event.adress }}, {{ event.zipcode }} {{ event.city }}</p>
                            <img src="{{ asset('uploads/pictures/'~ event.picture.namePicture) }}" alt="eventimg">
                            <p class="modale-description info text-muted">{{ event.eventDescription }}</p>
                            <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Somme nécessaire pour que l'événement ait lieu : {{ event.targetMoney ~ '€' }} avant le {{ event.deadline|date ("d/m/Y")}}</p>
                            <p>{{ event.onGoingMoney ~ ' €' }} actuellement récoltés</p>
                            <p><i class="fa fa-user-circle"></i> Capacité maximum : {{ event.maxPeople }} personnes</p>

                            {% if event.nbPeopleParticipate >= event.maxPeople %}
                                <button class="btn btn-danger" data-dismiss="modal" type="button">
                                    Evénement complet</button>
                            {% elseif event.userParticipate is defined %}
                                <button class="btn btn-danger" data-dismiss="modal" type="button">
                                    Vous participez déjà à l'événement</button>
                            {% else %}
                                <a href="{{ path('reservation_create', {'id': event.id}) }}"
                                   class="btn btn-primary">S'inscrire à l'événement</a>
                            {% endif %}
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>