{% extends 'base.html.twig' %}

{% block body %}
    <h1>Picture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Namepicture</th>
                <td>{{ picture.namePicture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ picture.description }}</td>
            </tr>
            <tr>
                <th>Altpicture</th>
                <td>{{ picture.altPicture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('picture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('picture_edit', { 'id': picture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
