<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>OzOut</title>

            <!-- Bootstrap core CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom fonts -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

            <!-- Custom styles -->
            <link href="{{ asset('assets/css/agency.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">

            {% block stylesheets %}
            {% endblock %}

    </head>

    {% block nav %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">OzOut</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('event_new') }}">Créer un événement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('event_index') }}">Rechercher un évènement</a>
                        </li>
                        {% if app.user == null %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_profile_show') }}">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}


        {% block body %}
        {% endblock %}


    {% block footer %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="{{ url('about') }}">À propos d'OzOut</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">CGV</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item twitter">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item facebook">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item instagram">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ url('contact') }}">Contact</a>
                    </div>

                </div>
            </div>
        </footer>

    {% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js."></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Custom scripts for this template -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPoRjII2N8Ce3xXg3hRshEikPWbDMlGNY&callback=initMap">
        </script>
        <script src="{{ asset('assets/js/agency.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>


        {% block javascripts %}
        {% endblock %}

    </body>
</html>
