{% extends 'base.html.twig' %}

{% block body %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Créer son événement !</div>
            <div class="intro-heading text-uppercase">Tout simplement. </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">En savoir plus</a>
            {#<div class="animBallon">#}
                {#<div><span class="ball">OzOut</span>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</header>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
    <div class="container">

        <div class="row">
            {% include ('default/includes/searchFormEvent.html.twig') %}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading text-uppercase" align="center">Top des événements en cours</h2>
                {% if app.user == null %}
                    <div align="center">
                        <h3 align="center" class="section-subheading text-muted h3Home">Connecte toi pour voir les événements privés de tes ami.e.s.</h3>
                        <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger btn-header btnconnectHome" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="eventResultPrivateAndPublic">
            {% include ('default/includes/cardEventRender.html.twig') %}
        </div>


    </div>

</section>

<!-- About OzOut -->
<section id="services">
    <div class="container">
        <div class="row aboutHome">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading text-uppercase h2apropos">À propos d'Ozout</h2>
            </div>
        </div>
        <div class="text-center hidden-sm-down">
            <video id="video" playsinline="" autoplay muted loop class="bgvid">
                <source src="http://www.loisjeans.com/web2013/img/home/lois-SS2013-background-02.mp4
                " type="video/mp4">
                </video>
        </div>
        <div class="row text-center step">
            <div class="col-md-4 col-xs-12">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-user-circle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Je m'inscris</h4>
                <p class="text-muted">En créant mon compte j'accède à tous les événements</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Je crée mon événement</h4>
                <p class="text-muted">Je décide où, quand, comment, combien... et avec qui !</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Je profite avec mes ami.e.s</h4>
                <p class="text-muted">Tout ça en quelques clics !</p>
            </div>
        </div>
    </div>
</section>

<!-- Avis -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading text-uppercase">Les derniers avis</h2>
            </div>
        </div>
        <div class="row text-center">
            {% for review in reviews if review.score >= 3 %}
            <div class="col-md-4 col-xs-12">
                <img class="userreview" src="{{ asset('uploads/pictures/'~ review.user.picture.namePicture) }}" style="width: 100px;height:100px;">
                <h4 class="review-heading">{{ review.user.username }}</h4>
                <p class="starHome" align="center">
                    {% if review.score == 4 %}
                        <span data-score="5">★</span><span data-score="4">★</span><span class="active" data-score="3">★</span><span data-score="2">★</span>
                    {% elseif review.score == 5 %}
                        <span data-score="5">★</span><span data-score="4">★</span><span class="active" data-score="3">★</span><span data-score="2">★</span><span data-score="1">★</span>
                    {% else %}
                        <span data-score="5">★</span><span data-score="4">★</span><span class="active" data-score="3">★</span>
                    {% endif %}
                </p>
                <p class="text-muted">{{ review.comment }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


    <div id="modalResultPrivateAndPublic">
        {% include ('default/includes/modalEventRender.html.twig') %}
    </div>

{% endblock %}

{% block javascripts %}
    {#<!----------------------------------------------Ballon-->#}
    {#<script>#}
        {#window.open = function() {};#}
        {#window.print = function() {};#}
        {#// Support hover state for mobile.#}
        {#if (false) {#}
            {#window.ontouchstart = function() {};#}
        {#}#}
    {#</script>#}
    {#<!----------------------------------------------Ballon-->#}
    <!-- Custom scripts for this template -->
    <script src="{{ asset('assets/js/review.js') }}"></script>
{% endblock %}
