{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="connected">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
</div>
{% else %}
<div class="login-container">
    <h2>Déjà un compte OzOut ? </h2>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary text-uppercase btn-header connexion-btn">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>
{% block fos_user_content %}
    <div class="container">
        <h2 class="">Pas encore de compte ?</h2>
        <h4 class="notyet">A vous de jouer !</h4>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-xl text-uppercase btn-header"/>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock fos_user_content %}

{% endblock body %}


