{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
{% endblock %}


{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="row">
            <div class="login-container col-md-6">
                <h2>Connectez-vous à votre compte</h2><br>
                <form>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    <input type="submit" class="btn btn-primary btn-xl text-uppercase btn-header" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
                <div class="login-help">
                    <a href="{{ path('fos_user_resetting_request') }}" class="password">Mot de passe oublié ?</a>
                </div>
            </div>

            <div class="login-container col-md-6">
                <div class="divcreateaccount">
                    <h2>Pas encore sur OzOut ?</h2>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-xl text-uppercase btn-header createaccount">Créer un compte</a>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
