{% extends 'base.html.twig' %}

{% block body %}
<body id="page-top">
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><a class="navbar-brand logo" href="{{ path('homepage') }}"> OzOut</a></div>
        </div>
    </div>
</header>

<section class="bg-light" id="portfolio">
    <div class="container formCreateEvent">
        <h1 align="center">Modifier l'évènement</h1>
            <div class="offset-md-3 col-md-6">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header"/>
            {{ form_end(edit_form) }}
            </div>
        <div align="center">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header" href="{{ path('event_index') }}">Back to the list</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header" href="{{ path('event_delete', {'id': event.id}) }}">Supprimer</a>
        </div>
    </div>
</section>
{% endblock %}
