{% extends 'base.html.twig' %}

{% block body %}

<div class="container formEditEvent">
    <h1 align="center">Event edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header"/>
    {{ form_end(edit_form) }}



    <div align="center">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header" href="{{ path('event_index') }}">Back to the list</a>
    </div>

    <div class="col-md-1">

        <a class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header" href="{{ path('event_delete', {'id': event.id}) }}">Supprimer</a>

    </div>

</div>
{% endblock %}
