{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css" media="print">
{% endblock %}

{% block body %}

    <div class="container formCreateEvent">

            <h1 class="center">Events list</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Datetime</th>
                    <th>Targetmoney</th>
                    <th>Deadline</th>
                    <th>Isprivate</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.adress }}</td>
                    <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.targetMoney }}</td>
                    <td>{% if event.deadline %}{{ event.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if event.isPrivate %}Yes{% else %}No{% endif %}</td>
                    <td><img src="{{ asset('uploads/pictures/'~ event.picture.namePicture) }}" alt=""> </td>

                    <td>
                        <div class="row">
                            <div class="col-md-4">
                            <a class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header" href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                            </div>
                            <div class="offset-md-2 col-md-4">
                            <a class="btn btn-primary btn-xs text-uppercase js-scroll-trigger btn-header" href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div align="center">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header" href="{{ path('event_new') }}">Create a new event</a>
        </div>

        <div id='calendar'></div>

        <section class="map">

            <h1>Map</h1>

            <div id="map" style="height:400px; width: 100%;"></div>

        </section>
    </div>
    <input id="markers_locations" type="hidden" value='{{ events_json }}' />



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/moment.js') }}">
    </script>
    <script src="{{ asset('assets/js/fullcalendar.js') }}">
    </script>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                navLinks: true, // can click day/week names to navigate views
                eventLimit: true, // allow "more" link when too many events
                events: "{{ path('event_api') }}"
            })
        });
    </script>

    <script>
        function initMap(){

            var options = {
                zoom:10,
                center:{lat:48.856614,lng:2.3522219000000177}
            };

            var map = new google.maps.Map(document.getElementById('map'), options);


            var markers = JSON.parse(document.querySelector('#markers_locations').value);

            console.info(markers);

            markers.map(function(marker){
                new google.maps.Marker ({
                    map : map,
                    position :{lat:marker.lat, lng:marker.lng}
                })
            });


        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPoRjII2N8Ce3xXg3hRshEikPWbDMlGNY&callback=initMap">
    </script>
{% endblock %}


