{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/review.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container formCreateEvent">

    <h1 align="center">Déposer un avis</h1>

    {{ form_start(form) }}

    <div>
        <section>
        {{ form_label (form.score) }}
        {{ form_widget (form.score) }}
        {#Rating stars#}
            <div class="rating">
                {#<input type="text" name="rating" id="rating">#}
                <span data-score="5">★</span><span data-score="4">★</span><span class="active" data-score="3">★</span><span data-score="2">★</span><span data-score="1">★</span>
            </div>
        </section>
        {#end Rating stars#}
        <div>
            {{ form_label (form.comment) }}
            {{ form_widget (form.comment) }}
        </div>
    </div>
    <div>
        {{ form_label (form.event) }}
        {{ form_widget (form.event) }}
    </div>
    <div>
        {{ form_label (form.user) }}
        {{ form_widget (form.user) }}
    </div>
    <div>
        <input type="submit" value="Envoyer votre avis" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header" />
    </div>

    {{ form_end(form) }}

    <div align="center">
        <a href="{{ path('review_index') }}" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header">Retour à la liste des avis</a>
    </div>


</div>
{% endblock %}
{% block javascripts %}
    <!-- Custom scripts for this template -->
    <script src="{{ asset('assets/js/review.js') }}"></script>
{% endblock %}
